@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");

.body {
  font-family: "mulish", sans-serif;
}
.white {
  background: #ffffff;
}
.pink {
  background: #feebea;
}
.nude {
  background: #b5958e;
}
.green {
  background: #527c88;
}
.red {
  background: "red";
}
.textGreen {
  color: #527c88;
}
.megaTitle {
  font-size: 100px;
  color: #527c88;
  text-shadow: -1px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -1px #ffffff !important;
}
.submegaTitle {
  font-size: 32px;
  color: #527c88;
}
.doctor {
  max-width: 100%;
  height: auto;
}
.vw80 {
  max-width: 80%;
}
.vw90 {
  max-width: 90%;
}
.nudeButtons {
  background: #b5958e !important;
  font-family: "mulish", sans-serif !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  font-size: 32px !important;
  width: 36vh;
}
.card {
  background: #feebea !important;
  font-family: "mulish", sans-serif !important;
  color: #527c88 !important;
  border-color: #b5958e !important;
  border-width: 1px !important;
  font-size: 18px !important;
  width: 24rem;
  height: 24rem;
}
.button {
  width: 8rem;
  background: #ffffff !important;
  border-color: #b5958e !important;
  color: #2e4450 !important;
  position: absolute;
  bottom: 2rem;
  right: 8rem;
}

/* .login{
    width:'16vh',min-height:'8vh',marginTop:'8vh',marginLeft:'24vh'
} */
